.git
.github
.idea
.vscode
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/.next
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.coverage
**/htmlcov
**/.venv
**/coverage
**/var
*.log
